<a href="https://colab.research.google.com/github/san2003/AI_wine_analizator/blob/main/wine_AI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [77]:
import pandas as pd
from google.colab import files
uploaded = files.upload()

Saving wine_dataset.csv to wine_dataset (1).csv

In [78]:
df = pd.read_csv('wine_dataset.csv')
df.head()

   fixed_acidity  volatile_acidity  citric_acid  ...  alcohol  quality  style
0            7.4              0.70         0.00  ...      9.4        5    red
1            7.8              0.88         0.00  ...      9.8        5    red
2            7.8              0.76         0.04  ...      9.8        5    red
3           11.2              0.28         0.56  ...      9.8        6    red
4            7.4              0.70         0.00  ...      9.4        5    red

[5 rows x 13 columns]

In [79]:
df['style'] = df['style'].replace('red', 0)

In [80]:
df['style'] = df['style'].replace('white', 1)

In [87]:
df['fixed_acidity'] = df['fixed_acidity'].round()

In [88]:
#separando variaveis de treino e de predict
y = df['fixed_acidity']
x = df.drop('fixed_acidity', axis=1)

In [89]:
from sklearn.model_selection import  train_test_split

x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size = 0.3)

In [90]:
df

      fixed_acidity  volatile_acidity  citric_acid  ...  alcohol  quality  style
0               7.0              0.70         0.00  ...      9.4        5      0
1               8.0              0.88         0.00  ...      9.8        5      0
2               8.0              0.76         0.04  ...      9.8        5      0
3              11.0              0.28         0.56  ...      9.8        6      0
4               7.0              0.70         0.00  ...      9.4        5      0
...             ...               ...          ...  ...      ...      ...    ...
6492            6.0              0.21         0.29  ...     11.2        6      1
6493            7.0              0.32         0.36  ...      9.6        5      1
6494            6.0              0.24         0.19  ...      9.4        6      1
6495            6.0              0.29         0.30  ...     12.8        7      1
6496            6.0              0.21         0.38  ...     11.8        6      1

[6497 rows x 13 columns]

In [102]:
from sklearn.ensemble import ExtraTreesClassifier
#criando modelo 
modelo = ExtraTreesClassifier (n_estimators=100)
modelo.fit(x_treino,y_treino)

#mostrando resultados
resultado = modelo.score(x_teste, y_teste)
print("acerto ", resultado)

acerto  0.7020512820512821

In [103]:
y_teste[400:410]

1145    8.0
171     8.0
2418    7.0
621     8.0
2490    6.0
5996    7.0
6435    7.0
5968    6.0
3512    8.0
1789    7.0
Name: fixed_acidity, dtype: float64

In [104]:
x_teste[400:410]

      volatile_acidity  citric_acid  residual_sugar  ...    alcohol  quality  style
1145              0.20         0.43            2.50  ...  10.400000        6      0
171               0.42         0.17            2.00  ...   9.200000        6      0
2418              0.56         0.22            8.90  ...   9.100000        5      1
621               0.56         0.23            3.40  ...   9.400000        5      0
2490              0.26         0.18            1.20  ...  11.000000        7      1
5996              0.27         0.26           11.80  ...   9.800000        5      1
6435              0.50         0.36           11.50  ...   9.600000        5      1
5968              0.29         0.21            9.65  ...  10.933333        6      1
3512              0.23         0.30            2.10  ...   9.600000        6      1
1789              0.28         0.28            8.50  ...   8.900000        6      1

[10 rows x 12 columns]

In [105]:
previsoes = modelo.predict(x_teste[400:410])

In [106]:
previsoes

array([9., 8., 7., 8., 6., 7., 7., 6., 7., 6.])